@model Student

<h2>Student Details</h2>

<div class="thumbnail">
    <img src="/images/@Model.ImageUrl" height="120" width="90"/>
</div>

<p>@Model.Id</p>
<p>@Model.FirstName</p>
<p>@Model.MiddleName</p>
<p>@Model.LastName</p>
<p>@Model.Nationality</p>
<p>@Model.Gender</p>
<p>@Model.Religion</p>
<p>@Model.MedicalCondition</p>
<p>@Model.Deceased</p>
<p>@Model.HomeAddress</p>
<p>@Model.CountryOfResidence</p>
<p>@Model.City</p>
<p>@Model.DateOfBirth</p>
<p>@Model.Education.Telephone</p>
<p>@Model.Parents.MonthlyIncome</p>
<p>@Model.Parents.ReligionOfMother</p>
<p>@Model.Parents.ReligionOfDeceasedMother</p>
<p>@Model.Parents.ReligionOfDeceasedFather</p>