 @using X.PagedList;
 @using X.PagedList.Mvc.Core;
 @using X.PagedList.Mvc.Common;

 <html>
 <head>
    
 </head>
 <body>
 
    <a class="btn btn-info" asp-action="New">Add New Student</a>
    <br/>
    <br/>

 <form asp-action="Index" asp-controller-="POST">
     <div class="row input-group">
         <input type="text" name="search" id="search" class="form-control"/>
         <div class="input-group-btn">
             <input type="submit" value="Search" class="btn btn-primary"/>
         </div>
     </div>
 </form>
 @if (@ViewBag.onePageOfStudents.Count != 0)
 {
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <td ><b>Reg No.</b></td>
            <td ><b>Student Photo</b></td>
            <td><b>FirstName</b></td>
            <td><b>MiddleName</b></td>
            <td><b>LastName</b></td>
            <td><b>Nationality</b></td>
            <td><b>Gender</b></td>
            <td><b>City</b></td>
            <td colspan="2"> <b>Actions</b></td>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in ViewBag.onePageOfStudents)
        {
            <tr>
                <td>@student.StudentRegNo</td>
                <td>
                    <div class="thumbnail">
                        <img src="/images/@student.ImageUrl" width="90" height="90"/>
                    </div>
                </td>
                <td>@student.FirstName</td>
                <td>@student.MiddleName</td>
                <td>@student.LastName</td>
                <td>@student.Nationality</td>
                <td>@student.Gender</td>
                <td>@student.City</td>
                <d>
                    <td>
                        <a class="btn btn-warning" asp-action="Details" asp-controller="Student" asp-route-Id="@student.Id">Details</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="edit" asp-route-Id="@student.Id">Edit</a>
                    </td>
                    <td>
                        <a
                            class="btn btn-danger delete"
                            asp-route-Id="@student.Id"
                            asp-action="Delete">
                            Delete
                        </a>
                    </td>
                </d>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h5 class="text-center">Sorry,there's no student available with this search,please try again.</h5>
}

 <div class="pagination">
     <div class="col-md12">
         
         @Html.PagedListPager((IPagedList)ViewBag.onePageOfStudents,pageNumber=>Url.Action("Index",new { pageNumber }),
             new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
             {
                 LiElementClasses = new string[] { "page-item" },
                 PageClasses = new string[] { "page-link" }
             })
     </div>

 </div>
 
 </body>
 
 </html>